body {
    background: rgb(231, 18, 142);
}
#calculadora {
    background: rgb(51, 173, 167);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(23, 23, 23);
    position: absolute;
    left: 40%;
    top: 15%;
}
#calculadora input {
    background: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}
#calculadora button {
    background: rgb(53, 161, 49);
    color: rgb(105, 170, 31);
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#calculadora button:hover{
    background: rgb(238, 86, 109);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#sptotal {
    background: black;
    color: rgb(212, 19, 19);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.spLista {
    background: rgb(151, 30, 151);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 221);
    width: 200px;
}
.calcF {
    display: none;
}
#calcFin:checked + #calculadora .calcF {
    display: block;
}
#calcFin {
    display: none;
}
